h4 
    a {
        text-decoration: none;
    }


.expand-collapse {
    text-decoration: none;
}

.expand-collapse span:before {
    border: solid 1px #ccc;
    padding: 0 5px;
    border-radius: 15px;
}

.expanded span:before {
    content: '+';
}

.collapsed span:before {
    content: '-';
}

.notes {
    padding-left: 37px;
    display: none;
}

.collapsed+.notes {
    display: block;
}

button {
    float: right;
}

app-add-grocery-item {
    margin-bottom: 50px;
    display: block;
}